In [3]:
def square(num):
    return num**2

In [4]:
square([1,2,3,43,5])

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [5]:
my_nums=[1,2,3,4,5]

In [7]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [9]:
#to get a list
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [11]:
#the common structure is
#map("name of the function",list of number or any iterable object)

In [12]:
name="tinon"
for item in name:
    print(item)

t
i
n
o
n

In [13]:
def nam(func):
    return func+"*"

In [14]:
name="tinon"

In [15]:
list(map(nam,name))

['t*', 'i*', 'n*', 'o*', 'n*']

In [16]:
nam("tinon")

'tinon*'

In [17]:
#map function iterates thorough every iterable object and shows the output

In [18]:
def splicer(string):
    if len(string)%2==0:
        return 'Even'
    else:
        return string

In [19]:
name=["turja","tori","rita","tapash"]

In [20]:
list(map(splicer,name))
#splicer itself is a function here.so no () is used here

['turja', 'Even', 'Even', 'Even']

In [1]:
def splice(sti):
    for item in sti:
        if len(sti)%2==0:
            break
            return "even"
    else:
        item

In [2]:
splice(["turja","tori","rita","tapash","tin"])

In [3]:
def chck_even(num):
    return num%2==0

In [4]:
my_num=[1,2,3,4,5,6]

In [5]:
list(filter(chck_even,my_num))
#filter goes thorough a function and

[2, 4, 6]

In [6]:
def square(num):
    return num**2

In [9]:
sqr1=lambda num:num**2

In [10]:
sqr1(5)

25

In [13]:
name_list=['tinon','turja','tori','rita','tapash']

In [15]:
list(filter(lambda name:len(name)%2==0,name_list))

['tori', 'rita', 'tapash']

In [16]:
list(map(lambda name:name[0],name_list))

['t', 't', 't', 'r', 't']

In [17]:
list(map(lambda name:name[::-1],name_list))

['nonit', 'ajrut', 'irot', 'atir', 'hsapat']

In [11]:
list(map(lambda num:num**3,my_num))

[1, 8, 27, 64, 125, 216]