In [1]:
lis=[1,2,3,4,5,6]
for item,value in enumerate(lis):
    if value==3:
        if lis[item+1]==3:
            print("True")
            break
        else:
            print("false")

false

In [9]:
def chck_consecutive3(num):
    #to check a list that any consecutive 3 present in that lsit
    for item,value in enumerate(num):
        if value==3:
            if num[item+1]==3:
                x=num[item+1]
                print(x)
                return True
                
                
            #when it itereates through the list while it finds 3 then it finds the index number of 3 in that list
            #as item and item+1 means it can track the next number right after the 3
                 
        else:
            pass
            #return False(if we use return false here it show false as soon it checks the first element as not 3)
            #so return false should return after the whole loops end
    return False
num=[1,2,34,2352345,2342134,3,3,345,1234,2345,23]

In [16]:
chck_consecutive3([1,2,4,5,3,6])

False

In [19]:
chck_consecutive3([3,3,4,5,3,3])

True

In [11]:
chck_consecutive3([1,2,34,2352345,2342134,3,3,345,1234,2345,23])

3

True

In [28]:
def chck_index(num):
    for inde,value in enumerate(num):
        if value==3 and num[inde+1]==3:
            return True
        else:
            pass
    return False

In [24]:
chck_index([32,34,65,3,12,56])

False

In [25]:
chck_index([2,23,54,3,3,45,56,234])

True

In [30]:
'''another way to do this'''

def chc_repeat3(num):
    for i in range(0,(len(num)-1)):
        
        if num[i]==3 and num[i+1]==3:
            #another way to do this:
            #if num[i:i+2]==[3,3]
            return True
        else:
            pass
    return False

In [31]:
chc_repeat3([2,23,54,3,3,45,56,234])

True

In [56]:
'''paperdoll: given a string where every character of string gets three character of that original
input>>>hello
output>>>hhheeelllooo'''

def paperdoll(s):
    result=''
    for i in s:
        result+=i
    return result

In [51]:
name="tinon"
for i in name:
    
    print(i)

t
i
n
o
n

In [57]:
paperdoll("tinon")

'tinon'

In [62]:
def paperdollreal(strin):
    result=''
    for item in strin:
        result+=item*3
    return result

In [64]:
paperdollreal("hello")

'hhheeellllllooo'

In [93]:
'''given 3 integers between 1 to 11.if their sum is less than or eql 21,return their sum.if sum exceeds 21
and there is an 11.reduce it by 10 and finally if the sum exceeds 21(after adjustment) print BUST'''
def blackjack(a,b,c):
    
    if sum([a,b,c])<=21:
        return sum([a,b,c])
    else:
        pass

In [82]:
blackjack(3,4,6)

13

In [94]:
chck([2,3,4,5,6,1])

the value is not greater than 11

'n'

In [109]:
def chck(*args):
    result=0
    for i in args:
        if i<=11:
            result+=i
        else:
            pass
    return result

In [111]:
chck(9,13,11)

20

In [112]:
def blackjackmain(a,b,c):
    if sum([a,b,c])<=21:
        return sum
    elif 11 in [a,b,c] and sum([a,b,c])<31:
        return sum([a,b,c])-10
    else:
        print("BUST")

In [113]:
blackjackmain(9,9,10)

BUST

In [118]:
def summer_of_69(*args):
    result=0
    for i in args:
        if i<6 or i>9:
            result+=i
    return result

In [119]:
summer_of_69(3,4,5,6,7,9,10)

22

In [126]:
summer_of_69([2,1,6,9,11])
summer_of_69(4,5,6,7,8,9)
summer_of_69([1,3,5])

TypeError: '<' not supported between instances of 'list' and 'int'

In [132]:
def summer_69(arr):
    total=0
    add=True
    for num in arr:
        while add:
            if num!=6:
                
                total+=num
                break
            else:
                add=False
        while not add:
            if num!=9:
                
                break
            else:
                add=True
                break
    return total

In [133]:
summer_69([3,6,7,10])

3